.hr-dashed { border-top: 1px dashed #ccc; margin-top: 15px; margin-bottom: 10px; }
#all_con { box-shadow: 0 0 10px 0 #999 ;border-radius: 1px;padding: 15px 10px ; }
h3 { color: #2177BC; }
h3+p { font-size: 16px; }
#maodian { height: 35px; background: #C0C0C0; }
#maodian li { float: left; line-height: 35px; font-weight: bold; font-size: 20px; padding: 0px 20px; }
#maodian li a{ color: #fff; }
#maodian li:hover { background: #AAAAAA; }
#c_b { margin-bottom: 50px; }
#count { height: 350px; }
#count>div { height: 50%; background: #F1F1F1; }
#count>div>div { float: left; width: 33%; text-align: center; line-height: 50px; }
#count>div>div h1 { color: red; margin-top: 40px; }
#count>div>div span { font-size: 20px; }
#banner { border: 1px solid #ccc; }
#banner img { width: 100%; height: 350px; }
#carousel-example-generic { margin: 0px -15px; }
.detail_nav { height: 40px; line-height: 40px; background: #E8E8E8; border-top: 1px solid #ccc; padding: 0px 10px; }
.detail_nav>span,.detail_nav>b { color: #0E6EB8; font-size: 18px; }
.detail_nav>p>span { font-size: 15px; }
.detail_con { padding: 0px 10px; display: none; }
.detail_con div:nth-child(1) { padding: 0px 0px; }
.detail_con>div img { width: 100%; height: 200px; }
.detail_con div:nth-child(2) { background-color:#f0f0f0; padding-left: 20px; height: 200px; }
.detail_con div:nth-child(2) li { height: 40px; line-height: 40px; }
.detail_con div:nth-child(2) .biaoqian { color: #1271BB; font-weight: bold; border: 2px solid #1271BB; padding: 0px 5px; margin-right: 5px; }
.detail_con div:nth-child(2) li .day { border-bottom: 2px solid #111; width: 30px; }
.s_price{font-size: 22px!important;color: red;transform: translate(-18px,-131px);font-weight:600!important}
.detail_con div:nth-child(3) { clear: both; }
.detail_con div:nth-child(3) li { height: 40px; line-height: 40px; }
.detail_con div:nth-child(3) li span { float: right; font-weight: bold; color: #333; font-size: 16px; }
.detail_con div:nth-child(4) {  padding-left: 20px; }
.detail_con div:nth-child(4) ol{ width:120px;float:left;}
.detail_con div:nth-child(4) ol:nth-child(3){ width:220px;float:left;}
.detail_con div:nth-child(4) li { height: 40px; line-height: 40px; }
.detail_con div:nth-child(4) li .jian,.jia,.num { border: 1px solid #bbb; margin-left: -5px; cursor:pointer;}
.detail_con div:nth-child(4) li .jian,.jia { padding: 0px 15px; background: #cecece }
.detail_con div:nth-child(4) li .num { padding: 0px 15px; }
.detail_con .support{float:left;color:#0E6EB8;font-weight:bold;margin-top:10px;}
.detail_con .total{width:190px;float:right;margin:20px;}
.detail_con .total span{font-size:16px;}
.detail_con .total .totalprice{font-size: 22px!important;color: red;transform: translate(-18px,-131px);font-weight:600!important}
#comment .comment_nav { height: 35px; border-top: 1px solid #ccc; background: #F5F5F5 }
#comment .comment_nav>b { font-size: 18px; line-height: 35px; }
#comment .comment_nav>span { font-size: 15px; font-weight: bold; line-height: 35px; }
#comment .comment_nav>span>span { color: red; }
#comment .comment_con { border-bottom: 2px dashed #ccc; margin: 0px 0px; padding-top: 10px; }
#comment .comment_con .col-xs-2 { text-align: center; margin-top: 20px; }
#comment .comment_con .col-xs-2 img { width: 100px; height: 100px; border-radius: 5px; }
#comment .comment_con .col-xs-2 p { margin-top: 5px; font-size: 15px; color: #0E6EB8; }
#comment .comment_con .col-xs-10 { height: 150px; padding-right: 15px; position: relative; }
#comment .comment_con .col-xs-10 .con { margin-top: 10px; }
#comment .comment_con .col-xs-10 .con img { height: 50px; width: auto; }
#comment .comment_con .col-xs-10 .good { margin-top: 30px; position: absolute; bottom: 10px; }
#comment .comment_con .col-xs-10 .good span { margin-right: 10px; color: #888; }
#comment_btn { margin: 20px 0px; }
#commend { padding: 0px 15px; }
#commend .col-md-6 { padding: 0px 0px; }
#commend .col-xs-6 { padding: 15px; }
#commend .col-xs-6 img { width: 100%; }
#commend .col-xs-6 ul { margin-top: -18px; box-shadow: 1px 0 8px 0 #c3c3c3; box-shadow: -1px 0 8px #c3c3c3; padding: 10px 0px; }
#commend h3 { color: #000; text-align: center; }
#commend p { font-size: 12px; text-align: center; }