.border{border:1px solid red;}
.bg-gray{background: #F8F8F8;height: 34px;}
.margin-top{margin:16px 0px 0px 0px;}
.right{float:right;}  .left{float:left;}
.title{line-height: 34px;font-size: 16px;font-weight:bold;}

/*场地抬头*/
#top1{height:65px;}
.a_content_title div:nth-child(2) {font-size: 20px;color: #2D7FBE;font-weight:bold;}
.a_content_title div:nth-child(3) {margin:10px 0px 0px 5px;}
.a_content_title ul li {float:left;}
.a_share{float: right;margin:10px 0px 0px 0px;}

/*场地展示选项卡*/
.search_title{width:100%;color:#999;background-color: #F8F8F8;font-size: 16px;font-weight: bold;margin: 10px 0 20px;padding: 4px 12px;overflow: hidden}
.search_title_text{width:1100px;margin:0px auto;font-size: 16px;font-weight: bold;}
.search_title ul li{padding: 6px 8px; float: left;list-style: none;width: 80px;}
.search_title ul li a{color:#999}
.search_title p{margin-top: 8px;color: #666666;font-size: 10px;}
.search_title p .a_h3{font-size: 18px;padding-right: 8px;}


/*横幅*/
.banner{display: flex}
.banner{margin-top: 12px; box-shadow:  0 0 12px 0 #666666}
.a_banner_left{background-color: #F1F1F1}
.a_banner_left{width: 600px;}
.a_banner_left ul{display: flex;flex-wrap:wrap;}
.a_banner_left ul li{list-style: none;padding: 28px 46px;}
.a_banner_left ul li h1{text-align: center;color: red;}

/*场地内容*/
.seek_result_show{width:100%;}
.search_title h4{font-weight:bold;color:#2D7FBE;float:left;}
.pos1{margin:8px;}
.pos2{margin:8px;width:600px;}
.s_main li{margin: 10px 0 ;font-size: 14px;}
.s_main2 li{margin: 10px 0 ;font-size: 14px;float:right;}
.s_main li a {padding: 2px 4px ;margin-right: 6px;font-weight: 600;color:#2D7FBE;}
.s_main2 li a {border: 1px solid #2D7FBE;padding: 2px 4px ;margin-right: 15px;font-weight: 600}
.s_grade{float: right;font-weight: 600;font-size: 18px;}
.s_grade span{font-size: 25px;}
.s_price{font-size: 22px!important;color: red;transform: translate(-18px,-131px);font-weight:600!important}
<<<<<<< HEAD
.s_reserve button{transform:translate(-18px,-45px);width: 96px;height: 27px;line-height: 14px}
.a_show table tr{height:40px;}
.a_show table th{text-align:right;width:250px;}
.a_show table td{text-align:center;width:100px;}
=======
.s_reserve button{transform:translate(-18px,-10px);width: 96px;height: 27px;line-height: 14px}
table tr{height:40px;}
table th{text-align:right;width:250px;}
table td{text-align:center;width:100px;}
>>>>>>> b7d15bdc6452911dd83db624685c651d951a1f24

/*搜索结果详情*/
.seek_result{display: flex}
.a_show>ul>li{ margin-top: 20px;box-shadow: 1px 0px 5px 0px #ccc,-1px 0 0px 0px #ccc;}
.a_show ul li dl dt{width: 500px;margin-right: 20px;}
.a_show ul li dl dd{position: relative}

/*评论*/
.a_section {box-shadow: 0 0 12px 0 #ccc;padding: 0 16px;margin-top: 8px;}
.a_section ol>li{border-bottom:1px dashed #ccc;}
.a_section ol li>dl li{margin: 12px 0;color: #999;font-size: 10px;}
.a_section ol li>dl dt{width: 60px;margin-top: 20px;}
.a_section ol li>dl dt img{border-radius: 5%;}
.a_section ol li>dl dd{margin-left: 100px; }
.a_section h5{text-align: center}

/*广告推广*/
.a_generalize ul{box-shadow: 0 0 10px 0 #999 ;border-radius: 5px;padding: 15px 0 ;}
.a_generalize ul>li{margin: 0 15px;}
.a_generalize ul>li ol{box-shadow: 1px 0 8px 0 #c3c3c3;box-shadow: -1px 0 8px #c3c3c3;padding-bottom: 10px;}

.a_generalize ul>li>ol>li{text-align: center;font-size: 10px;margin: 8px 0 }
.a_generalize ul>li>ol>li:nth-child(2){font-size: 18px; font-weight: 600}
.a_generalize ul>li>ol>li:nth-child(1) img{width: 268px;}