.border-ccc{border:1px solid #999;}
.border-blue{border:1px solid #0E6EB8;}
.fixedWidth{width:111px;}
*{margin: 0;padding: 0;list-style: none;}
a{color: black;} a:hover,a:link,a:visited,a:active{text-decoration: none;color: black;}
input{padding:2px;}
/*.bg-nav{background: #DADADA;}*/
.nav>li:hover{background: #fff;position: relative;}
.nav>li>a{font-size: 12px;color: #0E6EB8;}
.nav>li>ul{display: none;position: absolute;z-index: 2;}
.nav>li:hover>ul{display: block;width: 100%;border:1px solid #ccc;background: #fff;padding: 1px;}
.nav>li>ul>li{text-align: center;margin: 10px 0px;}
#logo_big{margin: 100px 0px;}
#search_e{height: 70px;width: 790px;margin: 0px auto;}
#search_e>form>ul>li{float: left;}
.form-my{line-height: 42px;height: 42px;font-size: 18px;padding: 0px 5px;}
.footer{margin-top: 50px;}
.city{position: relative;}
.city>div{display: none;border:1px solid #0E6EB8;width: 500px;background: #fff;position: absolute;z-index: 2;border-radius: 5px;box-shadow: 2px 2px 2px #ccc;}
.city>a>div{width:110px;}
.city>div>span{font-size: 18px;color: #999;float: left;margin: 5px;}
.city>div>ul>li{font-size: 16px;color: #000;float: left;margin: 5px;}
.hr{width: 90%;border-top: 1px solid #ccc;float: left;margin: 0px 5%;}
#search_d{height: 1px;overflow: hidden;}
#search_d>div{width: 760px;border: 1px solid #ccc;border-radius: 5px;box-shadow: 2px 2px 2px #ccc;margin: 1px auto;padding: 30px 10px;}
<<<<<<< HEAD
#search_d table{width: 750px;}
#search_d table tr{height: 50px;}
#search_d table tr th{width: 125px;font-size: 18px;padding: 15px;}
#search_d table li{float: left;margin-right: 20px;font-size: 18px;}
#search_d table>tr>td{line-height: 50px;}
#search_d table label{font-weight: normal;}
=======
table{width: 750px;}
table tr{height: 50px;}
table tr th{width: 125px;font-size: 18px;padding: 15px;}
table li{float: left;margin-right: 20px;font-size: 18px;}
table>tr>td{line-height: 50px;}
table label{font-weight: normal;}
>>>>>>> b7d15bdc6452911dd83db624685c651d951a1f24
