border{border:1px solid red;}
.bg-gray{background: #F8F8F8;height: 34px;}
.margin-top{margin:16px 0px 0px 0px;}
.right{float:right;}  .left{float:left;}
.title{line-height: 34px;font-size: 16px;font-weight:bold;}

/*列表页再搜索*/
table{width: 100%;}
table tr{height: 50px;}
table tr th{width: 125px;font-size: 18px;padding: 15px 15px 15px 0px;}
table li{float: left;margin-right: 20px;font-size: 18px;}
table>tr>td{line-height: 50px;}
table label{font-weight: normal;}

#rightbox1{width: 100%;height: 224px;float: right;}
#btn-rsea{height: 40px;width: 240px;margin: 182px;}
.s_selected{color: #2D7FBE}
.s_selected ul li{box-shadow: 0 0 12px 1px #ccc;padding: 2px 4px;}

/*搜索条件*/
.seek_result_show{width: 900px;}
.show_ask{display: flex;height: 50px;line-height: 50px;background-color: #F7F7F7;box-shadow: 0 0 12px 0 #c3c3c3;padding-left: 20px;}
.c_box{margin-left: 40px;}
.c_box input{margin-top: 18px;}

/*搜索结果*/
.seek_result{display: flex}
.a_show>ul>li{ margin-top: 15px;box-shadow: 1px 0px 5px 0px #ccc,-1px 0 0px 0px #ccc;}
.a_show ul li dl dt{width: 246px;margin-right: 20px;}
.a_show ul li dl dd{position: relative}
.s_main li{margin: 6px 0 ;font-size: 12px;}
.s_main li:nth-child(1) a{font-size: 18px;color: #2D7FBE;font-weight: 600;}
.s_main li:nth-child(3) span {display: block;height: 2px;width: 86%;background-color: #c3c3c3;margin:6px 0 6px 86px}
.s_main li:nth-child(8) {margin-top: 16px;}
.s_main li:nth-child(8) a {border: 1px solid #2D7FBE;padding: 2px 4px ;margin-right: 6px;font-weight: 600}
.s_main li:nth-child(2) a {border: 1px solid orangered;padding: 2px 4px ;margin-right: 6px;font-weight: 600}
.s_main_ri{position: absolute;right: 0}
.s_main .s_grade{transform: translate(-18px,-191px);font-weight: 600;font-size: 20px!important;}
.s_main .s_price{font-size: 22px!important;color: red;transform: translate(-18px,-131px);font-weight:600!important}
.s_main .s_reserve button{transform:translate(-18px,-45px);width: 80px;height: 27px;line-height: 14px}

/*推荐*/
.seek_recommend{margin-left: 26px; box-shadow: 0 0 12px 0 #ccc;height: 755px;width: 312px;}
.recommend_title{height: 48px;background-color:rgba(209,209,209, 0.8) ;font-size: 20px;font-weight: bold;line-height: 48px;padding-left: 16px;border-radius: 5px 5px 0 0 }
.seek_recommend .recommend_list ul li dl dt{width: 100px;}
.seek_recommend .recommend_list ul li dl dd{margin-left: 110px;}
.seek_recommend .recommend_list ul li dl{color: #999;font-size: 10px;}
.seek_recommend .recommend_list ul li dl dd ol li a{color: #2D7FBE;font-size: 16px;font-weight: bold;}
.seek_recommend .recommend_list ul li dl dd ol li{margin: 2px 0}
.seek_recommend .recommend_list ul>li{padding: 33px 0 0 0;background-color:#F7F7F7;border-bottom: 1px dashed #ccc;}

/*分页*/
.seek_paging nav ul li ul {margin-top: -2px}
.seek_paging nav ul li ul li a {border-radius: 4px; }

/*广告推广*/
.a_generalize{box-shadow: 0 0 10px 0 #999 ;border-radius: 5px;padding: 15px 0 ;}
#commend { padding: 0px 15px; }
#commend .col-md-6 { padding: 0px 0px; }
#commend .col-xs-6 { padding: 15px; }
#commend .col-xs-6 img { width: 100%; }
#commend .col-xs-6 ul { margin-top: -18px; box-shadow: 1px 0 8px 0 #c3c3c3; box-shadow: -1px 0 8px #c3c3c3; padding: 10px 0px; }
#commend h3 { color: #000; text-align: center; }
#commend p { font-size: 12px; text-align: center; }