.border{border:1px solid red;}
.border-ccc{border:1px solid #999;}
.border-blue{border:1px solid #0E6EB8;}
.fixedWidth{width:111px;}
*{margin: 0;padding: 0;list-style: none;}
a{color: black;} a:hover,a:link,a:visited,a:active{text-decoration: none;color: black;}
input{padding:2px;}
/*.bg-nav{background: #DADADA;}*/
.nav>li:hover{background: #fff;position: relative;}
.nav>li>a{font-size: 12px;color: #0E6EB8;}
.nav>li>ul{display: none;position: absolute;z-index: 2;}
.nav>li:hover>ul{display: block;width: 100%;border:1px solid #ccc;background: #fff;padding: 1px;}
.nav>li>ul>li{text-align: center;margin: 10px 0px;}
#search{width:840px;height:70px;margin:0px auto;}
#logo_big{float:left;margin:5px 30px;}
#search_e{height: 70px;width: 680px;margin: 0px auto;float:left;}
#search_e>form>ul>li{float: left;}
.form-my{line-height: 42px;height: 42px;font-size: 18px;padding: 0px 5px;}
.footer{margin-top: 50px;}
.city{position: relative;}
.city>div{display: none;border: 1px solid #ccc;width: 500px;background: #fff;position: absolute;z-index: 2;border-radius: 5px;box-shadow: 2px 2px 2px #ccc;}
.city>div>span{font-size: 20px;color: #999;float: left;margin: 20px;}
.city>div>ul>li{font-size: 18px;color: #000;float: left;margin: 5px;}
.hr{width: 90%;border-top: 1px solid #ccc;float: left;margin: 0px 5%;}
